@import url('/fonts.css');

/* Global */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: white;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

:root {
  --crystal-pink: #D486B8;
  --crystal-blue: #00a4bb;
  --grey: #444;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

a {
  color: var(--grey);
}

a:hover {
  color: var(--crystal-pink);
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */

.home {
  text-align: center;
  padding: 20px;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 160px;
}

.logo-with-text {
  width: 420px;
}

#english {
  font-family: "fields", sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  color: var(--crystal-pink);
}

#hebrew {
  font-family: "SuezOne", serif;
  font-weight: 400;
  font-size: 2.5em;
  color: var(--crystal-blue);
}

#editable {
  display: none;
}
#compact {
  display: flex;
}

@media(max-width: 599px) {
  #editable {
    display: none;
  }
  #compact {
    display: flex;
  }
}

@media(min-width: 600px) {
  #compact {
    display: none;
  }
  #editable {
    display: flex;
  }

  #name {
    flex-direction: row;
  }
  #name img {
    margin-right: 10px;
  }
  #english {
    margin-left: -50px;
  }
}

/* Links */

#links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-top: 2rem;
}

#links li {
  list-style: none;
  font-size: 1em;
  margin: 1rem 1rem;
  width: 65px;
}

#links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--crystal-pink);
}

#links li.blue a {
  color: var(--crystal-blue);
}

#links li a:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

#links li a .label {
  color: var(--grey);
}

#links li a i {
  margin-bottom: 1.2rem;
}

#links li a:hover .label {
  color: var(--crystal-pink);
}

#links li.blue a:hover .label {
  color: var(--crystal-blue);
}

@media(max-width: 460px) {
  #links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 1.2rem;
    column-gap: 0.2rem;
  }
  #links li {
    grid-template-columns: 1fr;
    width: 130px;
    place-items: center;
  }
}
