@import url('/fonts.css');

/* Global */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: white;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

:root {
  --crystal-pink: #D486B8;
  --grey: #444;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

a {
  color: var(--grey);
}

a:hover {
  color: var(--crystal-pink);
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */

.home {
  text-align: center;
  padding: 20px;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home h1 {
  font-family: "fields", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

.logo {
  width: 160px;
}

.pronunciation {
  font-family: serif;
  font-size: 1em;
  margin-top: 0;
}


@media(min-width: 600px) {
  .home h1 {
    flex-direction: row;
  }
  .home h1 img {
    margin-right: 10px;
  }
}


/* Links */

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-top: 0;
}

.links li {
  list-style: none;
  font-size: 1em;
  margin: 1rem 1rem;
  width: 65px;
}

.links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--crystal-pink);
}

.links li a .label {
  color: var(--grey);
}

.links li a i {
  margin-bottom: 1.2rem;
}

.links li a:hover .label {
  color: var(--crystal-pink);
}

@media screen and (min-width: 350px) {
  .links {
    width: 300px;
  }
}

@media screen and (min-width: 450px) {
  .links {
    width: 420px;
  }
}
