.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.links li {
  list-style: none;
  font-size: .85em;
  margin: 0.5rem 1rem;
}
.links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width: 400px) {
  .links {
    justify-content: center;
  }
}