.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.links li {
  list-style: none;
  font-size: .85em;
  margin: 5px;
}
.links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width: 400px) {
  .links {
    justify-content: center;
  }
  .links li {
    margin-right: 1.5em;
  }
  .links li:last {
    margin-right: 0;
  }
}