@font-face {
    font-family: "fields";
    src: url("../assets/fonts/fields.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/muli.woff2") format('woff2');
}