@import url('../style/fonts.css');

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: white;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

:root {
  --crystal-pink: #D486B8;
  --grey: #444;
}

#app {
  height: 100%;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

a {
  color: var(--grey);
}

a:hover {
  color: var(--crystal-pink);
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}